web3==7.14.1
python-dotenv==1.2.1
eth-account==0.13.7
base58==2.1.1
fastapi==0.110.3
uvicorn[standard]==0.41.0
jinja2==3.1.6
bittensor==9.12.2
bittensor-cli==9.16.0
substrate-interface==1.8.1
bcrypt==5.0.0
